@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; /* Prevent text selection */
  -webkit-user-drag: none; /* Prevent dragging elements in Safari */
  touch-action: none; /* Prevent default touch actions like scrolling */
 
  
}

#intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'FontIntro', sans-serif;
  color: #fff;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

#description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(20px);
  overflow: hidden;
  color: rgb(0, 0, 0);
}

#loading-percentage {
  font-size: 1.5rem;
  overflow: hidden;
  color: rgb(0, 0, 0);
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 4em;
  margin-bottom: 1.5em;
}

.experience{
  position: fixed;

  width: 100vw;
  height: 100vh;

 

}

.experience-canvas{
  overflow: hidden;
  width: 100%;
  height: 100%;

  
  
}


@font-face {
  font-family: "Font1";
  src: url("textures/font.otf");
}


.hidden{
  display: none;
}
























.curve-container {
  position: absolute;
  width: 50%;
  height: 50%;
  
  overflow: hidden;
  
  color: white;
  top: -5px;
  left: 25%;
}
/* svg {
  width: 100%;
  height: 100%;
  color: white;
} */
.draggable-dot {
  fill: rgb(255, 255, 255);
  cursor: pointer;
  width: 100%;
  height: 100%;
  
}


.soundcloud-player{
  display: none;
}
.custom-controls {
  z-index: 10;
  position: absolute;
  top: 30%;
  right: 10%;
  margin-top: 10px;
  text-align: left;
  width: 500px;
  height: 100px;
}

.custom-controls .background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  z-index: -1;
  border-radius: 50px;
  opacity: 0.3;
}

.custom-controls button {
  border: none;
  position: relative;
  top: 5%;
  left: 17%;
  margin: 5px;
  padding: 30px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

#trackInfo {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  left: 25%;
  top: 20%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#trackImage {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.5s linear;
  filter: drop-shadow(5px -5px 5px #2d2d2e57);
}

.rotate {
  animation: rotate 10s linear infinite;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .custom-controls {
    right: 10%;
    width: 400px;
    height: 80px;
  }

  #trackImage {
    width: 80px;
    height: 80px;
  }

  .custom-controls button {
    padding: 15px;
    font-size: 12px;
    transform: scale(0.9);
  }

  #trackInfo {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .custom-controls {
    right: 5%;
    width: 300px;
    height: 60px;
  }

  #trackImage {
    width: 60px;
    height: 60px;
  }

  .custom-controls button {
    top: -5px;
    padding: 20px;
    font-size: 10px;
    left: 12%;
    transform: scale(0.7);
  }

  #trackInfo {
    font-size: 12px;
    left: 23%;
    
  }

  .curve-container {
    width: 80%;
    height: 50%;
    top: -5px;
    left: 10%;
  }
}

@media screen and (max-width: 480px) {
  .custom-controls {
    right: 2%;
    width: 250px;
    height: 50px;
  }

  #trackImage {
    width: 50px;
    height: 50px;
  }

  .custom-controls button {
    top: -5px;
    padding: 15px;
    font-size: 9px;
    left: 10%;
    transform: scale(0.6);
  }

  #trackInfo {
    font-size: 10px;
    left: 21%;
  }

  .curve-container {
    
    width: 100%;
    height: 50%;
    
    overflow: hidden;
    
    color: white;
    top: -5px;
    left: 1%;
  }
}