@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
  
}


.experience{
  position: fixed;

  width: 100vw;
  height: 100vh;

 

}

.experience-canvas{
  overflow: hidden;
  width: 100%;
  height: 100%;

  
  
}


@font-face {
  font-family: "Font1";
  src: url("textures/font.otf");
}

@font-face {
  font-family: "FontIntro";
  src: url("textures/IntroFont.ttf");
}

.hidden{
  display: none;
}

.corner-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #00000000;
  color: #000000;
  border: none;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.curve-container {
  width: 100%;
  height: 200px;
  position: absolute;
  overflow: hidden;
  margin: 20px 0;
  color: white;
  top: 1px;
}
svg {
  width: 100%;
  height: 100%;
  color: white;
}
.draggable-dot {
  fill: rgb(255, 255, 255);
  cursor: pointer;
}



.custom-controls {
  z-index: 10; /* Add z-index to ensure it's on top */
  position: absolute;
  right: 20%;
  margin-top: 10px;
  text-align: left; /* Changed to left to align contents */
  
  width: 500px;
  height: 100px;
  
}
.custom-controls .background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px); /* Adjust blur effect */
  z-index: -1; /* Ensure it stays behind other content */
  border-radius: 50px;
  opacity: 0.5;
}
.custom-controls button {
  border: none;
  position: relative;
  top: 15%;
  left: 19%;
  margin: 5px;
  padding: 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

#trackInfo {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  left: 25%;
  top: 20%;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#trackImage {
  position: absolute;
  left: 0px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1; /* Ensure the track image stays on top */
  transition: transform 0.5s linear; /* Smooth transition when stopping rotation */
}

/* Class to rotate the image */
.rotate {
  animation: rotate 10s linear infinite; /* 5 seconds for one full rotation, adjust as needed */
}